<nav class="navBar">
    <div class="navBar-container">
        <ul>
            <li>
                <a routerLink="home"><img src="{{imgLogo}}" alt="Dreadful Tomato"></a>
            </li>
            <li routerLinkActive="active" routerLink="movies">
                <img src="{{iconMovie}}" alt="Movies">
                Movies
            </li>
            <li routerLinkActive="active" routerLink="series">
                <img src="{{iconSeries}}" alt="Series">
                Series
            </li>
        </ul>
        <ul>
            <li>
                <img src="{{iconFilters}}" alt="Filters">
                <a href="">Filters</a>
            </li>
            <li>
                <img src="{{iconLogin}}" alt="Login">
                <a href="">Login</a>
            </li>
            <li>
                <a type="button" class="btn-start">Start your free trial</a>
            </li>
        </ul>
    </div>
</nav>
